@charset "utf-8";

/*
	garakuta.net - stylesheet for common style
	-------------------------------------------

	(C)garakuta.net / http://www.garakuta.net
*/

#contener {
	margin: 0;
	padding: 0;
	position: relative;
	min-height: 100%;

	color: #272727;
	font-size: 100%;
	background: #fff none;
}

body > #contents {
	height: auto;
}

/* page title */
h1 {
	margin: 0;
	padding: 0 20px;
	width: 100%;

	font: bold 115% "lucida grande",tahoma,verdana,arial,'Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',sans-serif;
	text-align: left;

	background-color: #ccc;
	border-bottom: solid 2px #a1a1a1;
}



#a2top {
	display: block;
	margin: 0;
	padding: 0 20px 4px;
}


#pagebody {
	margin:0;
	padding: 0 0 40px;
}

#pagefooter {
	margin: 0;
	padding: 10px 0 0;
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 0;
}

#copyright {
	margin: 0;
	padding: 0 20px;

	color: #a1a1a1;
	font: 75% Courier;
	border-top: solid 1px #a1a1a1;
}


